body {
  font: 20px 'Helvetica Regular', Arial, sans-serif;
  color: #0c332f;
  line-height: 36px;
  margin: 0px;
}

/*
a {
  color: #8c6300;
  font: 20px 'Helvetica', Arial, sans-serif;
  line-height: 36px;
  font-weight: bold;
}
*/
   
h1{
	font-family: 'Helvetica Regular', Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #e4efee;
	background-color: #008c85;
	line-height: 36px;
	padding: 5px 5px;
	overflow: hidden;
	margin-top: 0;
}